.about-container .front-end, .about-container .noteworthy-mentions, .about-container .back-end, .about-container .database {
  margin: 0 0 50px 0;
}

.about-container .github {
  padding-bottom: 15px;
}

.about-container img {
    width: 100%;
    margin: 15px 0;
}

@media (max-width: 768px) {
  .about-container  img {
        max-width: 200px !important;
    }

  .about-container  .col-vertical-center {
        flex-direction: unset;
    }
}
