.front-end, .noteworthy-mentions, .back-end, .database {
    margin: 0 0 50px 0;
}

.github {
    padding-bottom: 15px;
}

img {
    width: 100%;
    margin: 15px 0;
}

@media (max-width: 768px) {
    img {
        max-width: 200px !important;
    }

    .col-vertical-center {
        flex-direction: unset;
    }
}
