.list-group-item > a:nth-child(2), .list-group-item > span:nth-child(4), .list-group-item > a:nth-child(8) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-group-item > * {
  padding-right: 10px;
  align-self: center;
}

.list-group-item > .switch {
  margin-right: 20px;
  min-width: 30px;
}

.list-group-item > button {
  align-self: flex-end;
  margin-left: auto;
}
