@using brechtbaekelandt.Extensions
@using Microsoft.AspNetCore.Html
@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization

@model brechtbaekelandt.ViewModels.AdminViewModel

@{
    this.ViewData["Title"] = "admin";
    this.ViewData["ActivePage"] = "admin";
}

<div style="display: none;" data-bind="visible: true">
    <h2>admin</h2>
    <hr />
    <h4>posts</h4>
    <p>
        <a href="#" data-bind="click: function(){ $root.selectedPost(null); $root.resetMessages(); showCreate(true);  }">create a post...</a>
    </p>
    <hr />
    <!-- ko if: deletePostErrorMessage -->
    <div class="alert alert-danger alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>error!</strong> <span data-bind="text: deletePostErrorMessage"></span>
    </div>
    <!-- /ko -->
    <!-- ko if: deletePostSucceededMessage -->
    <div class="alert alert-success alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>success!</strong> <span data-bind="text: deletePostSucceededMessage"></span>
    </div>
    <!-- /ko -->
    <!-- ko if: posts().length === 0 -->
    <span>there are no posts...</span>
    <!-- /ko -->
    <ul class="list-group">
        <!-- ko foreach: posts -->
        <li class="list-group-item">
            <label class="switch">
                <input type="checkbox" data-bind="checked: isPostVisible, click: function() { $root.updatePost($data); return true; }">
                <span class="slider"></span>
            </label>
            <a href="" data-bind="text: title(), click: function() { $root.selectedPost($data); $root.resetMessages(); $root.showPostEdit(true); }"></a>
            <span data-bind="text: moment(created()).format('DD/MM/YYYY, HH:mm:ss')"></span>
            <button type="button" data-bind="click: function() { $root.deletePost($data); }" class="btn btn-muted"><i class="far fa-trash-alt text-danger"></i></button>
        </li>
        <!-- /ko -->
    </ul>
    <h4>users</h4>
    <p>
        <a href="#" data-bind="click: function(){ }">create a user...</a>
    </p>
    <hr />
    <!-- ko if: users().length === 0 -->
    <spen>there are no users...</spen>
    <!-- /ko -->
    <!-- ko if: deleteUserErrorMessage -->
    <div class="alert alert-danger alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>error!</strong> <span data-bind="text: deleteUserErrorMessage"></span>
    </div>
    <!-- /ko -->
    <!-- ko if: deleteUserSucceededMessage -->
    <div class="alert alert-success alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>success!</strong> <span data-bind="text: deleteUserSucceededMessage"></span>
    </div>
    <!-- /ko -->
    <ul class="list-group">
        <!-- ko foreach: users -->
        <li class="list-group-item">
            <a href="" data-bind="text: fullName, click: function() { $root.selectedUser($data); $root.resetMessages(); $root.showUserEdit(true); }"></a>
            <button type="button" data-bind="click: function() { $root.deleteUser($data); }, disable: id === $root.currentUser.id" class="btn btn-muted"><i class="far fa-trash-alt text-danger"></i></button>

        </li>
        <!-- /ko -->
    </ul>
    <div class="modal fade" tabindex="-1" role="dialog" data-bind="modal:showPostCreate">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">create a post</h4>
                </div>
                <div class="modal-body" data-bind="with: newPost">
                    <div data-bind="template: { name: 'postEditorTemplate', data: { post: $data, viewModel: $root } }"> </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                    <!-- ko ifnot: $root.isPosted -->
                    <button type="button" class="btn btn-primary" data-bind="click: function() { $root.createPost($root.newPost); }">post</button>
                    <!-- /ko -->
                    <!-- ko if: $root.isPosted -->
                    <button type="button" class="btn btn-primary" data-bind="click: function() { $root.resetNewPost($root.newPost); $root.isPosted(false); $root.resetMessages(); }">create another post</button>
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" role="dialog" data-bind="modal:showPostEdit">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">edit the post</h4>
                </div>
                <div class="modal-body" data-bind="with: selectedPost">
                    <div data-bind="template: { name: 'postEditorTemplate', data: { post: $data, viewModel: $root } }"> </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                    <button type="button" class="btn btn-primary" data-bind="click: function() { $root.updatePost(selectedPost); }">edit</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" data-bind="modal:showUserEdit">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span data-bind="text: selectedUser() ? selectedUser().firstName() + ' ' + selectedUser().lastName() : 'user'"></span></h4>
                </div>
                <div class="modal-body" data-bind="with: selectedUser">
                    <div data-bind="template: { name: 'userEditorTemplate', data: { user: $data, viewModel: $root } }"> </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                    <!-- ko ifnot: $root.isPosted -->
                    @*<button type="button" class="btn btn-primary" data-bind="click: function() { $root.createPost($root.newPost); }">post</button>*@
                    <!-- /ko -->
                    <!-- ko if: $root.isPosted -->
                    @*<button type="button" class="btn btn-primary" data-bind="click: function() { $root.resetNewPost($root.newPost); $root.isPosted(false); $root.resetMessages(); }">create another post</button>*@
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</div>

@section styles{

    <link rel="stylesheet" href="~/lib/froala-wysiwyg-editor/css/froala_editor.css" />
    <link rel="stylesheet" href="~/lib/froala-wysiwyg-editor/css/froala_style.css" />
    <link rel="stylesheet" href="~/lib/froala-wysiwyg-editor/css/plugins/char_counter.min.css" />
    <link rel="stylesheet" href="~/lib/froala-wysiwyg-editor/css/plugins/code_view.min.css" />
    <link rel="stylesheet" href="~/lib/froala-wysiwyg-editor/css/plugins/colors.min.css" />
    <link rel="stylesheet" href="~/lib/froala-wysiwyg-editor/css/plugins/emoticons.min.css" />
    <link rel="stylesheet" href="~/lib/froala-wysiwyg-editor/css/plugins/file.min.css" />
    <link rel="stylesheet" href="~/lib/froala-wysiwyg-editor/css/plugins/fullscreen.min.css" />
    <link rel="stylesheet" href="~/lib/froala-wysiwyg-editor/css/plugins/image.min.css" />
    <link rel="stylesheet" href="~/lib/froala-wysiwyg-editor/css/plugins/line_breaker.min.css" />
    <link rel="stylesheet" href="~/lib/froala-wysiwyg-editor/css/plugins/table.min.css" />
    <link rel="stylesheet" href="~/lib/froala-wysiwyg-editor/css/plugins/video.min.css" />

    <link href="~/css/froala/froala-theme.css" rel="stylesheet" />

    <link href="~/css/controls/post-editor.css" rel="stylesheet" asp-append-version="true" />

    <link href="~/css/admin.css" rel="stylesheet" asp-append-version="true" />
}

@section scripts{
    <script src="~/lib/froala-wysiwyg-editor/js/froala_editor.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/align.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/char_counter.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/code_view.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/colors.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/emoticons.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/entities.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/font_family.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/font_size.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/fullscreen.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/image.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/inline_style.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/line_breaker.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/link.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/lists.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/paragraph_format.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/paragraph_style.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/quote.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/save.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/table.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/url.min.js"></script>
    <script src="~/lib/froala-wysiwyg-editor/js/plugins/video.min.js"></script>

    <script src="~/js/froala/froala_custom_buttons.js"></script>

    <script src="~/js/knockout/knockout.modal-bindings.js"></script>
    <script src="~/js/knockout/knockout.froala-bindings.js"></script>
    <script src="~/js/knockout/knockout.key-binding-handlers.js"></script>
    <script src="~/js/knockout/knockout.drop-upload-bindings.js"></script>

    <script src="~/js/knockout/knockout.validation-rules.js"></script>

    <script src="~/js/view-models/admin.js" asp-append-version="true"></script>

    <script type="text/javascript">
        $(function () {
            @{
                var jsonSerializerSettings = new JsonSerializerSettings {ContractResolver = new CamelCasePropertyNamesContractResolver()};

                var serverViewmodel = new HtmlString(JsonConvert.SerializeObject(this.Model, Formatting.None, jsonSerializerSettings)).ToEscapedJSHtmlString();
            }

            brechtbaekelandt.admin.init(@serverViewmodel);
        });
    </script>
}