.post-preview, .post {
    margin: 40px 0;
}

.post-preview-title, .post-title {
    margin-bottom: 10px;
}

.post-preview-title > h3, .post-title > h3 {
    margin-bottom: 2px;
}

.post-preview-categories-comments, .post-categories-comments {
    margin-bottom: 10px;
}

.post-preview-categories-comments > hr, .post-preview-share > hr, .post-categories-comments > hr, .post-share > hr {
    margin: 5px 0;
}


.post-preview-content, .post-content {
}

.post-preview-content .img-thumbnail, .post-content .img-thumbnail {
    max-width: 200px;
    vertical-align: top;
    float: left;
    margin: 0 10px 10px 0;
}

.post-preview-share > .addthis_inline_share_toolbox, .post-share > .addthis_inline_share_toolbox {
    margin-top: 8px;
    margin-bottom: -1px;
}
