.post {
    margin: 0 0 40px 0;
}

    .post hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }

.post-title {
}

    .post-title > h3 {
        margin-bottom: 10px;
    }

/*.post-title > h3 > a {
            border-bottom: 2px solid #540804;
            padding-bottom: 2px;
        }

            .post-title > h3 > a:hover, .post-title > h3 > a:hover, .post-title > h3 > a:active {
                border-bottom: 2px solid #a33f3a;
            }*/

.post-categories {
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-tags {
    margin-top: 10px;
}


.post-picture {
    max-width: 20%;
    vertical-align: top;
    float: left;
    margin: 0 10px 0 0;
}

.post-description {
}

.post-content {
}

.post-share > hr:last-child {
    margin-top: 5px;
}
