.post {
    margin: 0 0 40px 0;
}

    .post hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }

.post-title {
}

    .post-title > h3 {
        margin-bottom: 10px;
    }

    .post-title a {
        text-decoration: none;
    }

.post-categories {
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-tags {
    margin-top: 10px;
}


.post-picture {
    max-width: 20%;
    vertical-align: top;
    float: left;
    margin: 0 10px 10px 0;
}

.post-description {
}

.post-content {
}

.post-attachments {
}

.post-comments-likes-share {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

    .post-comments-likes-share > .addthis_inline_share_toolbox {
        margin-top: 9px;
    }

.post-comments-container {
    margin-bottom: 40px;
}

    .post-comments-container .post-comment {
        padding: 15px;
        border-bottom: 1px solid #540804;
    }

        .post-comments-container .post-comment:nth-child(odd) {
            background-color: #fef5f6;
        }

        .post-comments-container .post-comment:nth-child(even) {
            background-color: #fff;
        }

        .post-comments-container .post-comment .comment-title > h4 {
            margin-bottom: 10px;
        }


        .post-comments-container .post-comment .comment-content {
        }

.img-captcha {
    margin-right: 10px;
}
