
.post-editor {
    border: 0;
    width: 100%;
}

    .post-editor .categories, .post-editor .tags {
        /*height: auto;
        border: 1px solid #9b1d20;
        padding: 5px 15px;*/
    }

        .post-editor .categories .category, .post-editor .tags .tag {
            display: inline-block;
            height: 30px;
            margin: 5px 5px 5px 0;
            padding: 5px;
            color: #333;
            border: 1px solid #540804;
            cursor: pointer;
        }

            .post-editor .categories .category.selected, .post-editor .tags .tag.selected {
                color: #078d13;
                border: 1px solid #078d13;
            }

    .post-editor .post-visible td {
        padding-right: 10px;
    }

.progress-label-container {
    width: 100%;
    text-align: center;
}


@media(max-width:767px), (min-width:768px) {
    .picture-description, .picture, .description {
        display: block;
    }
}

@media(min-width:992px), (min-width:1200px) {
    .picture-description {
        display: table-row;
    }

    .picture {
        padding-right: 15px;
        white-space: nowrap;
    }

    .description {
        width: 100%;
    }

    .picture, .description {
        display: table-cell;
    }
}

.picture-drop-zone, .attachments-drop-zone {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    border: 1px solid #540804;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

    .picture-drop-zone.enter-drag, .attachments-drop-zone.enter-drag {
        border: 1px solid #078d13;
        background-color: #6ca984;
        background-image: none;
    }

    .picture-drop-zone > label, .attachments-drop-zone > label {
        margin: 0 5px;
    }

.picture-drop-zone {
    background: url('../../images/no-picture.png') center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 279px;
    margin-bottom: 15px;
}

.thumbnail-container {
    position: relative;
    height: 279px;
    margin-bottom: 15px;
}

.img-thumbnail {
    display: block;
    max-width: 240px;
    max-height: 279px;
    width: auto;
    height: auto;
}

.btn-delete-picture {
    position: absolute;
    right: 15px;
    top: 15px;
}

.attachments-drop-zone {
    height: 200px;
    background-color: #d8d6d9;
}
