.post-preview {
    margin: 40px 0;
}

    .post-preview hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }

.post-preview-title {
}

    .post-preview-title > h3 {
        margin-bottom: 10px;
    }

        /*.post-preview-title > h3 > a {
            border-bottom: 2px solid #540804;
            padding-bottom: 2px;
        }

            .post-preview-title > h3 > a:hover, .post-preview-title > h3 > a:hover, .post-preview-title > h3 > a:active {
                border-bottom: 2px solid #a33f3a;
            }*/

.post-preview-categories {
    margin-bottom: 10px;
}

    .post-preview-categories > hr, .post-preview-share > hr {
        margin: 5px 0;
    }

.post-picture.post-preview-picture {
    max-width: 30%;
    vertical-align: top;
    float: left;
}

.post-preview-content {
}

    /*.post-preview-content .img-thumbnail {
        max-width: 200px;
        vertical-align: top;
        float: left;
        margin: 0 10px 10px 0;
    }*/

.post-preview-share > .addthis_inline_share_toolbox {
    margin-top: 8px;
    margin-bottom: -1px;
}
